<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error {{code}} - {{errormsg}}</title>
    <link rel="stylesheet" href="../static/main.css">
</head>
<body>

    <div class="fixed-bottom fixed-center">
        <div class="flex">
            <div class="nav">
                <a href="/" class="text-nodec">Back Home</a>
            </div>
        </div>
    </div>

    <div class="full center text-center">
        <div>
            <h1>{{code}}</h1>
            <h2>{{errormsg}}</h2>
        </div>
    </div>
</body>
</html>